.card__description {
  padding: 20px;
  min-height: 38px;
  display: grid;
  grid-template-columns: auto 22px;
  row-gap: 3px;
  align-items: center;
  grid-template-areas:
    "name like"
    "name counter";
  background: #fff;
}