.btn_type_delete {
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 15px;
  background: url('../../../images/delete-btn.svg') no-repeat center;
}

.btn_type_delete:hover {
  opacity: .6;
}